body {
  padding: 0;
  margin: 0;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 0.7px;
}

.navbar {
  background-color: #334155;
  width: 100%;
  height: 50px;
  display: flex;
  gap: 20px;
}

.cart {
  cursor: pointer;
}
.circle {
  height: 25px;
  width: 25px;
  background-color: #cbd5e1;
  border: 2px solid #cbd5e1;
  border-radius: 100%;
  margin-left: auto;
  margin-right: 10px;
  margin-top: 9px;
  cursor: pointer;
}

.searchbar input {
  width: 900px;
  height: 25px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-top: 10px;
}

.logo {
  margin-left: 20px;
  margin-top: 5px;
}

.searchbar {
  position: relative;
}

.search {
  position: absolute;
  left: 864px;
  top: 10px;
  background-color: #eab308;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.logoname {
  margin-top: 18px;
}

.location {
  margin-top: 13px;
}

.hello {
  margin-top: 15px;
  margin-left: auto;
}

.cart {
  margin-top: 13px;
  margin-left: auto;
}

.search {
  cursor: pointer;
}

.belownav {
  background-color: #1e3a8a;
  width: 100%;
  height: 33px;
  display: flex;
  gap: 30px;
}

.hammenu,
.customerservice,
.promocode {
  margin-top: 5px;
  cursor: pointer;
}

.bgimage {
  height: 350px;
  width: 1366px;
  background-image: url(main.png);
  background-position: 0px -140px;
  background-repeat: no-repeat;
}

.items {
  display: flex;
  position: relative;
  justify-content: space-around;
  top: -140px;
  flex-wrap: wrap;
}

.maintain {
  border: 2px solid #f1f5f9;
  height: 330px;
  width: 300px;
  background-color: #f1f5f9;
  color: black;
  font-family: arial;
  font-weight: bold;
  box-shadow: 0 0 20px 0.5px #00000094;
}

.stationary {
  display: flex;
  flex-direction: column;
}

.imgstationary {
  background-image: url(stationary.jpg);
  height: 250px;
  width: 265px;
  background-repeat: no-repeat;
  background-position: 30px 7px;
}

.namestationary {
  margin-left: 29px;
  margin-top: 5px;
  font-size: 20px;
  font-family: cursive;
  font-weight: bold;
}

.buystationary {
  margin-left: 32px;
  text-decoration: underline;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17px;
  font-weight: lighter;
  margin-top: -10px;
}

.furniture {
  display: flex;
  flex-direction: column;
}

.imgfurniture {
  background-image: url(furniture.jpg);
  height: 253px;
  width: 265px;
  background-repeat: no-repeat;
  background-position: 32px 6px;
  background-size: 234px 221px;
}

.namefurniture {
  margin-left: 29px;
  margin-top: 5px;
  font-size: 20px;
  font-family: cursive;
  font-weight: bold;
}

.buyfurniture {
  margin-left: 32px;
  text-decoration: underline;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17px;
  font-weight: lighter;
  margin-top: -16px;
}

.imglaptop {
  background-image: url(laptop.jpg);
  height: 253px;
  width: 265px;
  background-repeat: no-repeat;
  background-position: 32px 5px;
  background-size: 234px 221px;
}

.buylaptop {
  margin-left: 32px;
  text-decoration: underline;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17px;
  font-weight: lighter;
  margin-top: -16px;
}

.namelaptop {
  margin-left: 29px;
  margin-top: 5px;
  font-size: 20px;
  font-family: cursive;
  font-weight: bold;
}

.namefitness {
  margin-left: 29px;
  margin-top: 5px;
  font-size: 20px;
  font-family: cursive;
  font-weight: bold;
}

.imgfitness {
  background-image: url(fitness.jpg);
  height: 253px;
  width: 265px;
  background-repeat: no-repeat;
  background-position: 32px 5px;
  background-size: 234px 221px;
}

.buyfitness {
  margin-left: 32px;
  text-decoration: underline;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 17px;
  font-weight: lighter;
  margin-top: -19px;
}


